body{
    background-image:url("C:\\Users\\Fane\\Desktop\\moon-and-colours-wallpaper.jpg") ;
    height: 1500px;
    background-size:cover; 
    background-repeat: no-repeat;
    
}
.navbar{
    opacity: 0.75;
    height: 75px;
}
.text{
    margin-right: 35px; ;
    font-size: 20px;
}
.string{
    text-align: center;
    color: white;
    font-size: 95px;
}
.pos{
    position: relative;
    top: 75px;
}


.icons{
    position: relative;
    top: 75px;
    text-align: center;
}
.icon{
    margin: 95px;
    color: inherit;
   
}
a:link {
    text-decoration: none;
}


.info{
    position: relative;
    top: 45px;
    right: 105px;
    }
.clipboard{
        position: relative;
        top: 45px;
       right: 85px;
        }
.calendar{
    position: relative;
    top: 45px;
   right: 88px;
    }
    .btn{
opacity: 0.75;
background-color: rgb(64, 12, 114);
text-align: center;
height: 65px;
width: 300px;
}
.buton{
    margin-top: 255px;
    text-align: center;
    position: relative;
    right: 25px;
}
.btn:hover{
    background-color: rgb(17, 7, 107);
    transition: 1s;
}

