body{
    background-color: rgb(85, 167, 214);
}
span{
  position: relative;
  top: 25px;
}
#start{
  position: relative;
  top: 355px;
  margin: auto;
  height: 150px;
  width: 300px;
  background-color: rgb(92, 240, 92);
  border-radius: 100%;
  display: block;

}
#container{
    border-radius: 25px;
    margin: 250px auto;
    border: 3px;
    background-color: rgb(27, 214, 228);
    height: 600px;
    width: 800px;
    display: none;
}
#cube{
    position: relative;
     margin: 200px;
     top: 200px;
    height: 200px;
    width: 400px;
    background-color: blueviolet;
    border-radius: 25px;
}
#text{position: relative;
    top: 80px;
    text-align: center;
    font-size: 50px;
}
.box{
    border-radius: 25px;
    height:50px;
    width:100px;
    box-shadow: 2px 2px  rgb(97, 99, 97);

}
 
#wrong{
     position: relative;
     top: 25px;
    background-color: rgb(236, 67, 67);
    float: left;
    left: 25px;
    visibility: hidden;
   
 
}

#score{
    position: relative;
    top: 30px;
    left: 250px;
    background-color: greenyellow;
    float: left;
   
}
#right{
    position: relative;
    top: 25px;
    right: 25px;
     float: right;
   background-color: green;
   display: none;
}
.flex-container {
    display: flex;
    flex-wrap: nowrap;
  }
  
  .flex-container > div {
    background-color: #403791;
    width: 100px;
    margin: 50px;
    text-align: center;
    line-height: 50px;
    font-size: 30px;
  }
  .hov:hover{
    cursor: pointer;
    background-color: red;
    transition: 1s;
  }
 
  .text_inside_coloured_shapes{
    text-align:center; 
    position: relative; 
    top: 15px;
  }